<% provide(:title, "Dashboard") %>


<hr />
<% if current_user.dispatcher == true %>
  <h2>My Dashboard</h2>
  <h2>[[i]] Dispatcher</h2>
  <hr />
  <% if current_user.admin == true %>
    <strong><p class="alert">[[i]] Admin</p></strong>
  <% else %>
    <strong><p class="alert">[[i]] Non-Admin</p></strong>
  <% end %>
  <hr />
  <div class = "horizontal-menu">
    <ul>
      <li><%= link_to "Open Cases", medevaccases_dispatcheropencases_path %></li>
      <li><%= link_to "Closed Cases", medevaccases_dispatcherclosedcases_path %></li>
      <li><%= link_to "Medevac Cases [All]", medevaccases_dispatcherindex_url %></li>
      <li><%= link_to "CaseMails", all_conversations_path %></li>
      <li><%= link_to "Hospitals", hospitals_path %></li>
      <li><%= link_to "Service Providers", serviceproviders_path %></li>
      <li><%= link_to "Insurers", insurers_path %></li>
      <li><%= link_to "Broadcasts", posts_path %></li>
      <li><%= link_to "Locate", locates_path %></li>
      <% if current_user.admin == true %>
        <li><%= link_to "Rhospitals", rhospitals_path %></li>
        <li><%= link_to "Administration Area", rails_admin_path %></li>
        <li><%= link_to "Hospitals", hospitals_path %></li>
        <li><%= link_to "Service Providers", serviceproviders_path %></li>
        <li><%= link_to "Insurers", insurers_path %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h2>My Dashboard</h2>
  <hr />

    <div>

    <hr />
      <% if current_user.vetted == true %>
      <div class = "horizontal-menu">
        <ul>
          <li><%= link_to "Open NewCase", new_medevaccase_path %></li>
          <li><%= link_to "Open Cases", medevaccases_opencases_path %></li>
          <li><%= link_to "Closed Cases", medevaccases_closedcases_path%></li>
          <li><%= link_to "Medevac Cases [All]", medevaccases_path %></li>
          <li><%= link_to "CaseMails", all_conversations_path %></li>
          <li><%= link_to "Hospitals", hospitals_path %></li>
          <li><%= link_to "Service Providers", serviceproviders_path %></li>
          <li><%= link_to "Insurers", insurers_path %></li>
          <li><%= link_to "Locate", locates_path %></li>
          <% if current_user.clientadmin == true %>
            <li><%= link_to "Management View", medevaccases_distribution_path %></li>
          <% end %>
      <% else %>
        <h2><%= link_to "Your Account is not yet active or is on hold. Please Contact your corporate account administrator
        for more information. ", dashboard_index_url %></h2>
      <% end %>
        </ul>

      </div>
    <hr />
  </div>

<% end %>

<hr/>

<div class = "dashboardcontent">
  <%=render 'dashboard/post'%>
</div>