<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @insurer.name %>
</p>

<p>
  <strong>Companyalias:</strong>
  <%= @insurer.companyalias %>
</p>

<p>
  <strong>Address:</strong>
  <%= @insurer.address %>
</p>

<p>
  <strong>latitude:</strong>
  <%= @insurer.latitude %>
</p>

<p>
  <strong>longitude:</strong>
  <%= @insurer.longitude %>
</p>

<hr/>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=
#{@insurer.latitude}%2C#{@insurer.longitude}" %>
<hr/>

<p>
  <strong>Email:</strong>
  <%= @insurer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @insurer.phone %>
</p>

<p>
  <strong>Contactperson:</strong>
  <%= @insurer.contactperson %>
</p>


<% if current_user.admin == true %>
<%= link_to 'Edit', edit_insurer_path(@insurer) %>
<% end %>
<%= link_to 'Back', insurers_path %>
